In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("users/user01f2/sample_ex.csv")

In [3]:
df.describe()

,Left_x,Left_y,Right_x,Right_y,left_pupil_diameter,right_pupil_diameter,mouse_x,mouse_y
count,200495.000000,200495.000000,202340.000000,202340.000000,200495.000000,202340.000000,259338.000000,259338.000000
mean,0.452040,0.568493,0.480304,0.558731,2.500707,2.438856,1639.802416,528.221950
std,0.202610,0.305200,0.194269,0.306498,0.162986,0.129242,327.048780,197.865517
min,-0.194762,-0.198839,-0.197145,-0.205678,0.795181,0.498276,0.000000,0.000000
25%,0.240769,0.349056,0.284994,0.340492,2.399994,2.361084,1532.000000,332.000000
50%,0.553779,0.522377,0.575833,0.507172,2.499313,2.429825,1706.000000,542.000000
75%,0.603700,0.725637,0.627894,0.722207,2.597702,2.506149,1841.000000,694.000000
max,1.192185,2.131697,1.198954,2.189150,3.968643,3.717026,2559.000000,1439.000000

In [4]:
df.query('0<Left_x<=1 & 0<Left_y<=1 & 0<Right_x<=1 & 0<Right_y<=1')

# df.query('0<Left_x<=1 & 0<Left_y<=1 & 0<Right_x<=1 & 0<Right_y<=1')

,Left_x,Left_y,Right_x,Right_y,left_pupil_diameter,right_pupil_diameter,mouse_x,mouse_y,time_stamp
5,0.694782,0.829364,0.683713,0.860779,2.386383,2.336685,1872,133,10:58:13.578255
6,0.676107,0.852336,0.678150,0.859380,2.526337,2.498947,1872,133,10:58:13.596207
7,0.669395,0.867482,0.673417,0.864439,2.493469,2.462997,1872,133,10:58:13.612166
8,0.674026,0.868280,0.675698,0.867960,2.474655,2.452347,1872,133,10:58:13.629120
9,0.665345,0.874817,0.674087,0.864104,2.464600,2.448471,1872,133,10:58:13.646074
...,...,...,...,...,...,...,...,...,...
257895,0.729544,0.455575,0.798775,0.460593,2.724411,2.367157,1958,648,12:09:55.432690
258022,0.722815,0.537679,0.742224,0.470309,2.227951,2.083221,1955,643,12:09:57.581069
258023,0.722815,0.537679,0.742224,0.470309,2.227951,2.083221,1955,643,12:09:57.597194
258026,0.744126,0.507346,0.749441,0.506400,2.192017,2.057831,1955,643,12:09:57.647904
258027,0.744126,0.507346,0.749441,0.506400,2.192017,2.057831,1955,643,12:09:57.663937

In [5]:
heat_x = [df.query('0<Left_x<=0.5 & 0<Left_y<=1 & 0<Right_x<=0.5 & 0<Right_y<=1').shape,
          df.query('0.5<Left_x<=1 & 0<Left_y<=1 & 0.5<Right_x<=1 & 0<Right_y<=1').shape]

In [6]:
heat_x

[(67004, 9), (97703, 9)]

In [7]:
df2 = pd.read_csv("users/user01f2/sample_ex_click.csv")

In [8]:
df2[df2['PorR']==True]

        x     y  count  PorR       time_stamp
0     672  1326      1  True  10:59:34.068619
2    1439   138      2  True  10:59:37.014096
4    1459   237      3  True  11:04:31.554119
6    1610   256      4  True  11:04:45.953730
8    1450   295      5  True  11:05:15.931944
..    ...   ...    ...   ...              ...
338  1433   131    170  True  12:10:10.796104
340  1621   131    171  True  12:10:11.702286
342  1402   139    172  True  12:10:12.992323
344   630  1312    173  True  12:10:16.030081
346   664  1336    174  True  12:10:19.354337

[174 rows x 5 columns]

In [9]:
df3= pd.read_csv("users/user01f2/sample_ex_key.csv")

In [10]:
df3[df3['PorR']==True]

                key  PorR       time_stamp
0               'f'  True  11:01:39.487506
2               'r'  True  11:01:39.607185
4               'o'  True  11:01:39.771745
6     Key.backspace  True  11:01:40.422046
8     Key.backspace  True  11:01:40.607549
...             ...   ...              ...
3243       Key.left  True  12:09:38.653661
3245       Key.left  True  12:09:38.904989
3247  Key.backspace  True  12:09:39.470474
3249      Key.shift  True  12:09:40.018017
3250        Key.f10  True  12:09:40.226521

[1703 rows x 3 columns]

In [11]:
df3["key"].value_counts()

Key.backspace    555
Key.shift        299
Key.right        298
Key.left         267
Key.enter        168
Key.down         158
Key.space        136
Key.f10          100
'r'               96
'f'               82
Key.tab           72
'('               72
Key.up            64
'o'               62
'n'               62
'e'               60
'a'               52
'0'               50
Key.ctrl_l        40
'i'               36
'l'               34
'w'               32
't'               32
'x'               30
'1'               30
':'               28
'g'               28
'8'               28
"'"               24
'5'               24
'y'               24
'd'               22
'-'               21
'4'               18
's'               16
'6'               14
'7'               14
'='               13
'j'               12
'c'               11
'\x03'             9
'v'                8
'\x16'             8
'2'                8
'3'                8
'm'                4
'.'                4
'*'                4
'k'                4
'h'                4
'\x1a'             2
')'                2
Key.shift_r        2
'/'                2
Name: key, dtype: int64